@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/input.css -o ./src/output.css --watch */

body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    color: #333333;
}

.text-emphasis-dot {
    padding-top: 16px;
    background-position: top left 2px;
    background-repeat: repeat-x;
    background-size: 30px 10px;
    background-image: radial-gradient(3px 3px at center center, #D55, #D55 100%, transparent);
}

.marker {
    background: linear-gradient(transparent 80%, #EDDB92 80%);
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
